.root {
  position: relative;
  width: 1440px;
  height: 75px;
  align-items: flex-start;
  background-color: #20484f;
  overflow: hidden;
}
.quickly {
  position: absolute;
  left: 40px;
  top: 21px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.labelWrapper {
  font-size: 24px;
  font-family: Plus Jakarta Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  font-family: Plus Jakarta Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label2 {
  color: #b8e4da;
  font-size: 24px;
  font-weight: bold;
  font-family: Plus Jakarta Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.frame6 {
  position: absolute;
  left: 476px;
  top: 25px;
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: 32px;
}
.aboutUs {
  color: #fff;
  font-size: 16px;
  line-height: 150%;
  font-family: Plus Jakarta Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.products {
  color: #fff;
  font-size: 16px;
  line-height: 150%;
  font-family: Plus Jakarta Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.features {
  color: #fff;
  font-size: 16px;
  line-height: 150%;
  font-family: Plus Jakarta Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.ourBlog {
  color: #fff;
  font-size: 16px;
  line-height: 150%;
  font-family: Plus Jakarta Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.downloads {
  color: #fff;
  font-size: 16px;
  line-height: 150%;
  font-family: Plus Jakarta Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame62 {
  position: absolute;
  left: 1246px;
  top: 17px;
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: 12px;
}
.frame4 {
  width: min-content;
  height: min-content;
  padding: 10px 16px;
  border-radius: 8px;
  background-color: #20484f;
  overflow: hidden;
}
.logIn {
  color: #fff;
  font-size: 14px;
  line-height: 150%;
  font-family: Plus Jakarta Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
